.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight {
    border: 1px dash #ccc;
}

#imgPreview {
    margin:20px;
}

#noimage, .noimage {
    width: 100px;
    height: 100px;
}

ul.gallery {
    padding: 0;
}

ul.gallery li:first-child{
    margin-left: 0;
}

ul.gallery li{
    border: 2px solid #0ff;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

ul.gallery li:hover {
    background: #ccc;
}